{% extends 'main/base.html' %}
{% load static %}

{% block title %}Условия соглашения{% endblock %}

{% block content %}

<hr class="custom-divider">

<div class="container my-5">
    <h1 class="text-center mt-4 mb-5 text-uppercase">Положение о cookie-файлах</h1>

    <div class="row g-4 mb-4">
        <p class="fs-5 lh-lg text-muted">
            Сайт
            <a href="https://robototehnika-lida.onrender.com/"
               class="link-underline link-underline-opacity-75 fw-semibold"
               style="color: #0f766e;">
                robototehnika_lida
            </a>
            использует cookie-файлы для анализа своей эффективности — например, чтобы понять, сколько пользователей
            посещают сайт, какие страницы наиболее популярны, и как долго пользователи взаимодействуют с контентом.
            Эти данные помогают улучшать навигацию и адаптировать сайт под интересы конкретного пользователя.
            Cookie также способствуют созданию более удобного и персонализированного пользовательского опыта.
        </p>

        <h2 class="mt-5 mb-3">1. Определения</h2>
        <p class="fs-5 lh-lg text-muted">
            <strong>Сайт</strong> — интернет-ресурс, доступный по адресу
            <a href="https://robototehnika-lida.onrender.com/" target="_blank"
               class="text-decoration-underline" style="color: #0f766e;">
                robototehnika-lida.onrender.com
            </a>.
            <br><br>
            <strong>Пользователь</strong> — лицо, использующее сайт и его функционал.
            <br><br>
            <strong>Cookie-файлы</strong> — это небольшие фрагменты данных, которые отправляются с сервера и сохраняются
            в браузере пользователя. Они могут включать веб-маяки и другие технологии отслеживания, которые помогают
            анализировать поведение пользователя на сайте.
        </p>

        <h2 class="mt-5 mb-3">2. Типы используемых cookie и цели их применения</h2>
        <p class="fs-5 lh-lg text-muted">
            <strong>2.1. Необходимые</strong> — обеспечивают базовую работоспособность сайта. Без них невозможно,
            например, зайти в личный кабинет.
            <br><br>
            <strong>2.2. Функциональные</strong> — позволяют сохранять пользовательские настройки и улучшают удобство
            работы с сайтом.
            <br><br>
            <strong>2.3. Аналитические</strong> — собирают статистику посещений и помогают улучшить структуру и контент
            сайта.
            <br><br>
            <strong>2.4. Рекламные</strong> — используются для отображения персонализированной рекламы и оценки её
            эффективности.
            <br><br>
            <strong>2.5. Дополнительные технологии</strong> — в том числе пиксельные теги и веб-маяки. Они отслеживают
            перемещения по сайту, действия на страницах и помогают анализировать отклик на внешнюю рекламу.
            <br><br>
            <strong>2.6. Сторонние сервисы</strong> — могут включать элементы внешнего контента (видео, карты,
            презентации) и сбор аналитики. Мы не контролируем их cookie-файлы, и они подчиняются политикам
            конфиденциальности соответствующих платформ.
        </p>

        <h2 class="mt-5 mb-3">3. Сроки хранения файлов cookie</h2>
        <p class="fs-5 lh-lg text-muted">
            <strong>Сессионные cookie</strong> — действуют только в течение одной сессии, удаляются при закрытии
            браузера.
            <br><br>
            <strong>Постоянные cookie</strong> — сохраняются дольше и помогают, например, автоматически входить в
            аккаунт или сохранять настройки сайта.
        </p>

        <h2 class="mt-5 mb-3">4. Управление cookie-файлами</h2>
        <p class="fs-5 lh-lg text-muted">
            Посещая Сайт и пользуясь нашими услугами, Пользователь соглашается на использование cookie-файлов и
            аналогичных технологий.
            <br><br>
            Пользователь может изменить настройки использования cookie в браузере. Однако отключение определённых cookie
            может повлиять на корректную работу некоторых функций сайта.
            <br><br>
            Мы рекомендуем регулярно проверять это Положение на предмет обновлений.
        </p>
    </div>
</div>

{% endblock %}
