{% extends 'main/base.html' %}
{% load static %}

{% block title %}Курсы для 11-13 лет{% endblock %}

{% block css %}
<style>
    body {
        background-color: #f9fef9 !important;
        margin: 0;
    }

    .navbar {
        background-color: #fff5f7 !important;
        border-bottom: none;
    }

    .container {
        /* можно удалить, если body уже розовый */
        background-color: transparent;
    }
</style>
{% endblock %}


{% block content %}

<div class="container text-center my-5">


    <div class="row align-items-center justify-content-center" style="margin-top: 30px; margin-bottom: 20px;">
        <h2 class="text-center section-title"
            style="font-weight: 600; font-size: 2.2rem; width: 100%; max-width: 900px; margin: 0 auto;">
            КУРСЫ ДЛЯ ДЕТЕЙ 11-13 ЛЕТ
        </h2>
    </div>
    <div class="row align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 40px;">
        <p style="text-align: justify; font-size: 1.2rem; font-weight: 350; max-width: 1200px; width: 100%; margin: 0 auto; line-height: 1.5;">
            Курсы для детей 11–13 лет — это шаг к осознанному обучению и самостоятельной работе.
            Ребята учатся глубже понимать сложные темы, применять логику и креативность при решении нестандартных задач.
            Мы развиваем навыки планирования, уверенного общения и командной работы.
            Задания требуют внимания, усидчивости и умения рассуждать — всё это помогает готовиться к реальным вызовам.
            Опытные преподаватели поддерживают каждого ученика и создают среду, где хочется учиться и расти.
        </p>
    </div>


    <div class="row justify-content-center g-4">
        <div class="col-md-2 col-sm-6">
            <div class="info-card">
                <i class="bi bi-person-fill info-icon"></i>
                <p class="info-text">Возраст:<br>от 9 до 11</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="info-card">
                <i class="bi bi-clock-fill info-icon"></i>
                <p class="info-text">Длительность:<br>75 минут</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="info-card">
                <i class="bi bi-calendar2-check-fill info-icon"></i>
                <p class="info-text">Абонемент на месяц:<br>75 рублей</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="info-card">
                <i class="bi bi-cash-stack info-icon"></i>
                <p class="info-text">Разовое занятие:<br>25 рублей</p>
            </div>
        </div>
    </div>


    <!-- Блок для 7-9 лет (продвинутый уровень) -->
    <div class="row justify-content-center my-5">

        <div class="col-6">
            <div class="course-card shadow-sm rounded-4 overflow-hidden course-wrapper">
                <img src="{% static 'main/img/courses/EV3.jpg' %}" alt="Minecraft Pro"
                     class="img-fluid course-image">
                <h4 class="fw-bold text-turquoise" style="text-align: center;">
                    "Робототехника EV3 Mindstorms"
                    <span style="color: #CD5B45; font-size: 0.85em; display: block;">начальный уровень</span>
                </h4>
                <p style="text-align: justify; margin-bottom: 0;">
                    Интерактивный курс по созданию и программированию роботов на базе платформы LEGO EV3 Mindstorms.
                    Дети познакомятся с основами механики, электроники и программирования роботов, научатся
                    проектировать
                    и управлять роботизированными системами. Курс развивает логическое мышление, навыки программирования
                    на визуальном языке и решение технических задач в игровой и практической форме.
                </p>
            </div>
        </div>


        <div class="col-6">
            <div class="course-card shadow-sm rounded-4 overflow-hidden course-wrapper">
                <img src="{% static 'main/img/courses/arduino.jpeg' %}" alt="Электроника продвинутый"
                     class="img-fluid course-image">
                <h4 class="fw-bold text-turquoise" style="text-align: center;">
                    "Электроника Arduino"
                    <span style="color: #CD5B45; font-size: 0.85em; display: block;">продвинутый+ уровень</span>
                </h4>
                <p style="text-align: justify; margin-bottom: 0;">
                    Углубленное изучение электроники и программирования на платформе Arduino. Участники учатся создавать
                    сложные электронные схемы, программировать микроконтроллеры и управлять различными устройствами и
                    датчиками.
                    Курс развивает инженерное мышление, навыки проектирования и программирования, а также творческий
                    подход к решению задач.
                    Практические проекты помогают применять теорию на практике и готовят к реальным инженерным вызовам.
                </p>
            </div>
        </div>


        <div class="col-6 mt-4">
            <div class="course-card shadow-sm rounded-4 overflow-hidden course-wrapper">
                <img src="{% static 'main/img/courses/roblox2.jpg' %}" alt="Шахматный клуб продвинутый"
                     class="img-fluid course-image">
                <h4 class="fw-bold text-turquoise" style="text-align: center;">
                    "Программирование в Roblox"
                    <span style="color: #CD5B45; font-size: 0.85em; display: block;">продвинутый уровень</span>
                </h4>
                <p style="text-align: justify; margin-bottom: 0;">
                    Интересный курс для детей 9-11 лет, где ребята учатся создавать свои мини-игры в Roblox Studio с
                    использованием
                    более сложных инструментов и сценариев. Осваивают продвинутые принципы программирования: условия,
                    циклы, переменные и события.
                    Курс помогает развить логику, творческое мышление и уверенность в работе с кодом, готовя детей к
                    новым игровым проектам и вызовам.
                </p>
            </div>
        </div>


        <div class="col-6 mt-4">
            <div class="course-card shadow-sm rounded-4 overflow-hidden course-wrapper">
                <img src="{% static 'main/img/courses/blender.jpg' %}" alt="Шахматный интеллектуальный клуб"
                     class="img-fluid course-image">
                <h4 class="fw-bold text-turquoise" style="text-align: center;">
                    "3D моделирование в Blender"
                    <span style="color: #CD5B45; font-size: 0.85em; display: block;">начальный уровень</span>
                </h4>
                <p style="text-align: justify; margin-bottom: 0;">
                    Этот курс познакомит детей с базовыми инструментами Blender и основами 3D моделирования. Ребята
                    научатся создавать объёмные объекты, работать с цветом и текстурами, развивая при этом
                    пространственное мышление. Практические задания стимулируют творческий подход и помогают воплотить
                    собственные идеи в трехмерном формате. Курс развивает внимание к деталям и аккуратность в работе с
                    цифровыми моделями. Отличная основа для дальнейшего изучения дизайна и анимации.
                </p>
            </div>
        </div>


    </div>


    <hr class="custom-divider">
    <!-- Заголовок секции -->
    <div class="row align-items-center justify-content-center my-5">
        <h2 class="text-center section-title fw-semibold">
            АБОНЕМЕНТЫ НА ЗАНЯТИЯ
        </h2>
    </div>

    <!-- Карточки абонементов -->
    <div class="row g-4">

        <div class="col-md-3 col-sm-6">
            <div class="border rounded-4 p-4 h-100 shadow-sm text-center" style="border: 2px solid #17a2b8;">
                <h4 class="fw-bold mb-2">1 месяц / 84 BYN</h4>
                <p class="info-text mb-0">1 занятие в абонементе — 21 BYN</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="border rounded-4 p-4 h-100 shadow-sm text-center" style="border: 2px solid #17a2b8;">
                <h4 class="fw-bold mb-2">3 месяца / 80 BYN</h4>
                <p class="info-text mb-0">1 занятие в абонементе — 20 BYN</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="border rounded-4 p-4 h-100 shadow-sm text-center" style="border: 2px solid #17a2b8;">
                <h4 class="fw-bold mb-2">6 месяцев / 76 BYN</h4>
                <p class="info-text mb-0">1 занятие в абонементе — 19 BYN</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="border rounded-4 p-4 h-100 shadow-sm text-center" style="border: 2px solid #17a2b8;">
                <h4 class="fw-bold mb-2">9 месяцев / 72 BYN</h4>
                <p class="info-text mb-0">1 занятие в абонементе — 18 BYN</p>
            </div>
        </div>

    </div>


    <!-- Кнопка записи -->
    <div class="mt-4">
        <!-- Кнопка открытия модального окна -->
        <button type="button"
                class="btn text-white px-5 py-3 fw-bold shadow"
                style="
                                background-color: #17a2b8;
                                border: none;
                                border-radius: 3px;
                                font-size: 1.25rem;
                                box-shadow: 0 4px 12px rgba(23, 162, 184, 0.4);
                                transition: background-color 0.3s ease, transform 0.2s ease;"
                data-bs-toggle="modal"
                data-bs-target="#signupModal"
                onmouseover="this.style.backgroundColor='#138496'; this.style.transform='scale(1.03)'"
                onmouseout="this.style.backgroundColor='#17a2b8'; this.style.transform='scale(1)'">
            ЗАПИСАТЬСЯ НА БЕСПЛАТНОЕ ПРОБНОЕ ЗАНЯТИЕ
        </button>
    </div>

</div>

<!-- Скрипт JS для перезагрузки страницы при успешной записи с перезаписанным success -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
      {% if success %}
        var signupModal = new bootstrap.Modal(document.getElementById('signupModal'));
        signupModal.show();
      {% endif %}
    });
</script>

{% endblock %}