{% extends 'main/base.html' %}
{% load static %}
{% block title %}Курсы для 13-16 лет{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/courses.css' %}">
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper @11/swiper-bundle.min.css" />
{% endblock %}
{% block content %}
<div class="container text-center my-5">
    <div class="row align-items-center justify-content-center" style="margin-top: 30px; margin-bottom: 20px;">
        <h2 class="text-center section-title"
            style="font-weight: 600; font-size: 2.2rem; width: 100%; max-width: 900px; margin: 0 auto;">
            КУРСЫ ДЛЯ ДЕТЕЙ 13-16 ЛЕТ
        </h2>
    </div>
    <div class="row align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 40px;">
        <p style="text-align: justify; font-size: 1.2rem; font-weight: 350; max-width: 1200px; width: 100%; margin: 0 auto; line-height: 1.5;">
            Курсы для подростков 13–16 лет — это старт для серьёзного погружения в мир технологий.
            На занятиях ребята осваивают робототехнику, программирование и 3D-моделирование, учатся самостоятельно
            ставить цели, планировать работу и находить нестандартные решения.
            Мы развиваем инженерное мышление, креативность, усидчивость и командное взаимодействие.
            Каждое задание — это практический вызов, приближённый к реальным задачам из мира науки и современных
            технологий.
            Под руководством опытных наставников подростки не просто изучают теорию, а реализуют собственные проекты —
            от идеи до результата.
            Это обучение, которое вдохновляет, мотивирует и готовит к будущему в высокотехнологичном мире.
        </p>
    </div>
    <div class="row justify-content-center g-4">
        <div class="col-md-2 col-sm-6">
            <div class="info-card">
                <i class="bi bi-person-fill info-icon"></i>
                <p class="info-text">Возраст:<br>от 13 до 16</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="info-card">
                <i class="bi bi-clock-fill info-icon"></i>
                <p class="info-text">Длительность:<br>75 минут</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="info-card">
                <i class="bi bi-calendar2-check-fill info-icon"></i>
                <p class="info-text">Абонемент на месяц:<br>75 рублей</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="info-card">
                <i class="bi bi-cash-stack info-icon"></i>
                <p class="info-text">Разовое занятие:<br>25 рублей</p>
            </div>
        </div>
    </div>

    <!-- Карусель для мобильных -->
    <div class="course-carousel d-md-none mt-4">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Слайд 1 -->
                <div class="swiper-slide">
                    <div class="course-card course-wrapper">
                        <img src="{% static 'main/img/courses/EV.jpg' %}" alt="EV3-pro Pro" class="img-fluid course-image">
                        <h4>
                            "Робототехника EV3 Mindstorms"
                            <span>продвинутый уровень</span>
                        </h4>
                        <p>
                            Интерактивный курс по робототехнике на базе LEGO EV3 Mindstorms для продвинутого уровня...
                        </p>
                    </div>
                </div>
                <!-- Слайд 2 -->
                <div class="swiper-slide">
                    <div class="course-card course-wrapper">
                        <img src="{% static 'main/img/courses/ardui.jpeg' %}" alt="Python база" class="img-fluid course-image">
                        <h4>
                            "Программирование в Python"
                            <span>начальный уровень</span>
                        </h4>
                        <p>
                            Базовый курс по программированию на языке Python, разработанный специально для подростков...
                        </p>
                    </div>
                </div>
                <!-- Слайд 3 -->
                <div class="swiper-slide">
                    <div class="course-card course-wrapper">
                        <img src="{% static 'main/img/courses/roblo.jpg' %}" alt="Разработка веб приложений" class="img-fluid course-image">
                        <h4>
                            "Разработка веб приложений"
                            <span>продвинутый уровень</span>
                        </h4>
                        <p>
                            Продвинутый курс по веб-разработке для подростков, желающих углубиться в мир современных веб-технологий...
                        </p>
                    </div>
                </div>
                <!-- Слайд 4 -->
                <div class="swiper-slide">
                    <div class="course-card course-wrapper">
                        <img src="{% static 'main/img/courses/blenr.jpg' %}" alt="3д моделирование blender" class="img-fluid course-image">
                        <h4>
                            "3D моделирование в Blender"
                            <span>продвинутый уровень</span>
                        </h4>
                        <p>
                            Продвинутый курс по Blender — это следующий шаг для подростков, желающих углубиться в профессиональное 3D-моделирование...
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Статичные карточки для десктопа -->
    <div class="row justify-content-center my-5 d-none d-md-flex">
        <div class="col-6">
            <div class="course-card course-wrapper">
                <img src="{% static 'main/img/courses/EV.jpg' %}" alt="EV3-pro Pro" class="img-fluid course-image">
                <h4>
                    "Робототехника EV3 Mindstorms"
                    <span>продвинутый уровень</span>
                </h4>
                <p>
                    Интерактивный курс по робототехнике на базе LEGO EV3 Mindstorms для продвинутого уровня. Учащиеся углубляются в основы механики, электроники и логики управления сложными устройствами...
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="course-card course-wrapper">
                <img src="{% static 'main/img/courses/ardui.jpeg' %}" alt="Python база" class="img-fluid course-image">
                <h4>
                    "Программирование в Python"
                    <span>начальный уровень</span>
                </h4>
                <p>
                    Базовый курс по программированию на языке Python, разработанный специально для подростков. Участники знакомятся с основами синтаксиса, переменными, циклами, условиями и функциями — всё через практику...
                </p>
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="course-card course-wrapper">
                <img src="{% static 'main/img/courses/roblo.jpg' %}" alt="Разработка веб приложений" class="img-fluid course-image">
                <h4>
                    "Разработка веб приложений"
                    <span>продвинутый уровень</span>
                </h4>
                <p>
                    Продвинутый курс по веб-разработке для подростков, желающих углубиться в мир современных веб-технологий. Мы изучим не только HTML и CSS, но также освоим Python-фреймворки Django и Flask для создания серверной логики...
                </p>
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="course-card course-wrapper">
                <img src="{% static 'main/img/courses/blenr.jpg' %}" alt="3д моделирование blender" class="img-fluid course-image">
                <h4>
                    "3D моделирование в Blender"
                    <span>продвинутый уровень</span>
                </h4>
                <p>
                    Продвинутый курс по Blender — это следующий шаг для подростков, желающих углубиться в профессиональное 3D-моделирование и анимацию. Участники изучат продвинутые техники работы с геометрией, модификаторами и узловыми системами...
                </p>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row align-items-center justify-content-center my-5">
        <h2 class="text-center section-title fw-semibold">
            АБОНЕМЕНТЫ НА ЗАНЯТИЯ
        </h2>
    </div>

    <div class="row g-4">
        <div class="col-md-3 col-sm-6">
            <div class="abonement-card">
                <h4>1 месяц</h4>
                <p class="info-text">84 BYN</p>
                <p class="info-text">1 занятие — 21 BYN</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="abonement-card">
                <h4>3 месяца</h4>
                <p class="info-text">80 BYN</p>
                <p class="info-text">1 занятие — 20 BYN</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="abonement-card">
                <h4>6 месяцев</h4>
                <p class="info-text">76 BYN</p>
                <p class="info-text">1 занятие — 19 BYN</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="abonement-card">
                <h4>9 месяцев</h4>
                <p class="info-text">72 BYN</p>
                <p class="info-text">1 занятие — 18 BYN</p>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <button type="button" class="btn-signup" data-bs-toggle="modal" data-bs-target="#signupModal">
            ЗАПИСАТЬСЯ НА БЕСПЛАТНОЕ ПРОБНОЕ ЗАНЯТИЕ
        </button>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper @11/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.swiper', {
            loop: true,
            slidesPerView: 1.1,
            spaceBetween: 16,
            centeredSlides: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
        });

        {% if success %}
            var signupModal = new bootstrap.Modal(document.getElementById('signupModal'));
            signupModal.show();
        {% endif %}
    });
</script>
{% endblock %}