<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {{ form.username.errors }}
    </p>
    <p>
        {{ form.email.label_tag }}<br>
        {{ form.email }}
        {{ form.email.errors }}
    </p>
    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
        {{ form.password.errors }}
    </p>
    <p>
        {{ form.password_confirm.label_tag }}<br>
        {{ form.password_confirm }}
        {{ form.password_confirm.errors }}
    </p>
    <button type="submit">Зарегистрироваться</button>
</form>

<p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
